<div class="modal-action-content about-info-message">
  <div class="logo-about-info">
    <img src="../packages/platform/desktop/img/am-logo-about.png">
  </div>
  <div class="about-info-content">
    <table>
      <tr>
        <td>{{t 'desktop.footerInfo.amServerVersion'}}</td>
        <td>{{serverVersion}}</td>
      </tr>
      <tr>
        <td>{{t 'desktop.footerInfo.webAPIVersion'}}</td>
        <td>{{webAPIVersion}}</td>
      </tr>
      <tr>
        <td>{{t 'desktop.aboutPage.serverName'}}</td>
        <td>{{serverName}}</td>
      </tr>
      <tr>
        <td>{{t 'desktop.aboutPage.loggedInAs'}}</td>
        <td>{{userName}}</td>
      </tr>
    </table>
  </div>
  <div class="about-info-copyright">
    <span>&copy;&nbsp;2009-2015 Absolute Software Corporation. {{t 'desktop.aboutPage.copyrightPart'}}</span>
  </div>
</div>
